footer {
  position: absolute;
  font-family: Gill-Italic;
  font-size: 15px;
  text-decoration: none;
  color: #000;
  padding-right: 25px;
  margin-left: 50px;
  margin-top: 725px;
  a {
    font-family: Gill-Italic;
    font-size: 15px;
    text-decoration: none;
    color: #000;
    padding-left: 50px;
    margin-left: 15px;
  }
  .facebook {
    position: absolute;
    margin-left: 125px;
  }
  .instagram {
    position: absolute;
    margin-left: 175px;
  }
}
@media only screen and (max-width: 768px) {
  footer {
    text-align: center;
    margin-top: 890px;
    margin-left: 0px;

    .facebook {
      margin-left: 25px;
    }
    .instagram {
      margin-left: 75px;
    }
  }
}

@media only screen and (max-width: 400px) {
  footer {
    margin-top: 650px;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    max-width: 375px;
    margin-left: 10px;

    a {
      margin: 20px auto;
      font-size: 15px;
      display: inline-block;
      text-align: center;
    }

    .facebook {
      margin-left: 250px;
    }
    .instagram {
      margin-left: 300px;
    }
  }
}
