.login-form {
  height: 100%;
  width: 100%;
  background-color: #ffd972;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .login-sheet {
    align-items: center;
    .login_btn {
      margin-left: 20px;
      background-color: #ffd972;
      font-family: Caveat;
      font-size: 25px;
      width: 209px;
      height: 52px;
      border: 0px solid;
      border-radius: 25px;
      box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.16);
    }
  }

  .sign-up {
    align-items: center;
    .sign-in-btn {
      background-color: #ffd972;
      font-family: Caveat;
      font-size: 25px;
      width: 250px;
      height: 52px;
      border: 0px solid;
      border-radius: 25px;
      box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.16);
    }
  }

  .border {
    content: "";
    display: block;
    width: 250px;
    border-bottom: black solid 3px;
  }
  input {
    font-family: Caveat;
    color: black;
    display: block;
    margin-top: 21px;
    width: 250px;
    height: 20px;
    background-color: #ffd972;
    border: 0;
  }

  h3 {
    font-family: Caveat;
    font-size: 12px;
  }

  h2 {
    font-family: Caveat-Bold;
    font-size: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .login-form {
    padding-right: 20%;
    flex-direction: column;

    .login-sheet {
      top: 0;
    }

    .sign-up {
      bottom: 0;
    }
  }
}

@media only screen and (max-width: 400px) {
  .login-form {
    padding-top: 15%;
    padding-right: 10%;
    flex-direction: column;

    .login-sheet {
      top: 0;
    }

    .sign-up {
      bottom: 0;
    }
  }
}
